mixin foto(foto)
  .foto&attributes(attributes)
    .foto__content=foto
      .foto__slider.swiper-container
        .foto__items.swiper-wrapper
          .foto__item.swiper-slide 
            img(src="img/foto1.png" alt="Фото1").foto__img
            .foto__slide-content
              h3.foto__title-slide Дизайн “Стемпинг”
          .foto__item.swiper-slide
            img(src="img/foto2.png" alt="Фото2").foto__img
            .foto__slide-content
              h3.foto__title-slide Дизайн “Стемпинг”
          .foto__item.swiper-slide 
            img(src="img/foto3.png" alt="Фото3").foto__img
            .foto__slide-content
              h3.foto__title-slide Дизайн “Стемпинг”
          .foto__item.swiper-slide 
            img(src="img/foto4.png" alt="Фото4").foto__img
            .foto__slide-content
              h3.foto__title-slide Дизайн “Стемпинг”
        .foto__arrow.swiper-button-next
        .foto__arrow.swiper-button-prev
        .foto__pagination.swiper-pagination