.foto {
    min-width: 0;
    &__content {
        //max-width: 730px;
        width: 100%;
        margin: auto 0;
    }

    &__slider {
        overflow: hidden;
        position: relative;
    }

    

   

   

    

    .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 0 1px;
        position: absolute;
        bottom: 12%;
        
    }

    .swiper-pagination-bullet {
        font-size: 0px;
        width: 60px;
        height: 12px;
        background: #FFFFFF;
        opacity: 0.5;
        border-radius: 3px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    &__slide-content {
        font-family: 'Amatic SC';
        font-weight: 700;
        font-size: px-to-em(30);
        line-height: 126%;
        color: red;
        margin-bottom: 40px;
        position: absolute;
        left: 0;
        right: 450px;
        top: 150px;
        opacity: 1;
    }

    &__arrow {
        display: none;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #000000;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 50px;
        
        svg {
            width: 25px;
            height: 25px;
        }
        
    }

    

    

    

    /*&__prev {
        &--open {
            svg {
                transform: rotate(180deg);
            }
        }
    }*/

   


}
