.foto3 {
    min-width: 0;
    &__content {
        width: 100%;
        margin: auto 0;
    }

    &__slider {
        overflow: hidden;
        position: relative;
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        gap: 0 1px;
        position: absolute;
        bottom: 12%;
        
    }

    .swiper-pagination-bullet {
        font-size: 0px;
        width: 60px;
        height: 12px;
        background: #ffffff;
        opacity: 0.5;
        border-radius: 3px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    &__arrow {
        display: none;
    }

    &__slide-content {
        display: none;
    }


    @media screen and (max-width: 768px) {
        &__slide-content {
            display: block;
            position: absolute;
            left: 0;
            top: 70px;
            bottom: 130px;
            opacity: 1;
            width: 100%;
            text-align: center;
            padding: 0 20px;
        }
    
        &__title-slide {
            font-family: 'Amatic SC';
            font-weight: 700;
            font-size: px-to-em(30);
            line-height: 126%;
            color: #000000;
        }
    
        &__text {
            font-family: 'Lato', sans-serif;
            font-size: px-to-em(15);
            font-weight: 700;
            line-height: 108%;
            color: #212121;
            margin: 30px 0;
        }
    
        &__img {
            opacity: 0.5;
        }
    
        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px 0;
            
        }
    
        &__btn {
            max-width: 150px;
            height: 25px;
            width: 100%;
            font-family: 'Amatic SC';
            font-weight: 700;
            font-size: px-to-em(15);
            line-height: 118%;
            color: #212121;
            background: #D9D9D9;
            border: 0.375px solid #212121;
            box-shadow: -0.75px -0.75px 5.625px #000000;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            svg {
                width: 10px;
                height: 10px;
            }
        }

    }

    @media screen and (max-width: 570px) {
        &__title-slide {
          font-size: px-to-em(25);
            
        }

        &__text {
           font-size: px-to-em(13);
        }

        &__slide-content {
            top: 50px;
            bottom: 130px;
        }

        &__btn {
            max-width: 90px;
            height: 20px;
            width: 100%;
            font-size: px-to-em(12);
            padding: 10px;
            svg {
                width: 7px;
                height: 7px;
            }
        }
    }

    @media screen and (max-width: 435px) {
        &__title-slide {
            font-size: px-to-em(20);
        }

        &__text {
            font-size: px-to-em(12);
            margin: 20px 0;
        }

        &__slide-content {
            top: 20px;
            bottom: 130px;
        }

        &__btn {
            max-width: 90px;
            height: 20px;
            width: 100%;
            font-size: px-to-em(10.5);
            padding: 5px;
            svg {
                width: 7px;
                height: 7px;
            }
        }
    }

    @media screen and (max-width: 360px) {
        &__text {
            font-size: px-to-em(11);
            margin: 10px 0;
        }
    }
    

  
}
