include ../blocks/header/header.pug
include ../blocks/master/master.pug
include ../blocks/about/about.pug
include ../blocks/title/title.pug
include ../blocks/image/image.pug
include ../blocks/services/services.pug
include ../blocks/form/form.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/contacts/contacts.pug
include ../blocks/footer/footer.pug
include ../blocks/foto/foto.pug
