mixin foto5(modifier)
  .foto5&attributes(attributes)
    .foto5__content=foto5
      .foto5__slider.swiper-container
        .foto5__items.swiper-wrapper
          .foto5__item.swiper-slide 
            img(src="img/grout.png" alt="Фото1").foto5__img
            .foto5__slide-content
              h3.foto5__title-slide  Дизайн “Затирка”
              p.foto5__text Блестящий пигмент в мелком порошке c пудровой консистенцией, он втирается в верхнее покрытие без липкого слоя
              .foto5__buttons 
                button(type="button").foto5__btn Записаться
                  include img/btn.svg
                button(type="button").foto5__btn Все услуги
                  include img/btn.svg
          .foto5__item.swiper-slide
            img(src="img/grout.png" alt="Фото2").foto5__img
          .foto5__item.swiper-slide 
            img(src="img/grout.png" alt="Фото3").foto5__img
          .foto5__item.swiper-slide 
            img(src="img/grout.png" alt="Фото4").foto5__img
        .foto5__arrow.swiper-button-next
        .foto5__arrow.swiper-button-prev
        .foto5__pagination.swiper-pagination