.portfolio {
    padding-left: 10px;
    &__content {
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 0 25px;
        border-left: 2px dashed #2E1E25;
    }

    &__slider {
        margin-top: 60px;
        position: relative;
    }

    &__slider-buttons  {
        display: flex;
        gap: 0 40px;
        position: absolute;
        right: 0;
        top: -95px;
    }

    &__button-prev,
    &__button-next {
        svg {
            transition: .3s;
        }
    }

    &__button-prev:hover,
    &__button-next:hover {
        svg {
            transform: scale(1.2);
            path {
                opacity: 1;
            }
        }
    }

    .slick-slide  {
        display: flex;
        justify-content: space-between;
        gap: 0 40px;
    }

    &__pull {
        width: 65%;
    }

    &__title {
        font-family: 'Amatic SC';
        font-weight: 700;
        font-size: px-to-em(50);
        line-height: 126%;
        color: #2E1E25;
        margin-bottom: 40px;
    }

    &__text {
        font-family: 'Lato', sans-serif;
        font-size: px-to-em(22);
        line-height: 150%;
        color: #2E1E25;
        margin-bottom: 84px;
        min-height: 160px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
    }

    &__btn {
        max-width: 355px;
        height: 58px;
        width: 100%;
        border-radius: 40px;
        background-color: #F6ACCB;
        font-family: 'Amatic SC';
        font-weight: 700;
        font-size: px-to-em(34);
        line-height: 97%;
        color: #2E1E25;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    &__btn:last-child {
        background-color: #E9B8D7;
    }

   
    &__prev {
        display: none;
    }


   

    @media screen and (max-width: 1000px) {
        .title {
            font-size: px-to-em(40);
        }

        &__title {
            font-size: px-to-em(40);
        }

        &__text {
           font-size: px-to-em(18);
           margin-bottom: 20px;
        }

        &__btn {
            max-width: 266px;
            height: 43px;
            width: 100%;
            border-radius: 40px;
            background-color: #F6ACCB;
            font-family: 'Amatic SC';
            font-weight: 700;
            font-size: px-to-em(25);
            line-height: 97%;
            color: #2E1E25;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }

    }

    @media screen and (max-width: 855px) {
        &__btn {
            max-width: 260px;
            height: 43px;
            width: 100%;
            border-radius: 40px;
            background-color: #F6ACCB;
            font-family: 'Amatic SC';
            font-weight: 700;
            font-size: px-to-em(24);
            line-height: 97%;
            color: #2E1E25;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &__btn:last-child {
            svg {
                width: 14px;
                height: 14px;
            }
        }

        .slick-slide  {
           gap: 0 20px;
        }

        &__pull {
            margin-top: 50px;
        }
    }

    @media screen and (max-width: 768px) {

        &__pull {
            display: none;
            &--open {
                display: block;
                width: 90%;
                margin: 0 auto;
            }
            .foto,
            .foto1,
            .foto2,
            .foto3,
            .foto4,
            .foto5 {
                .swiper-pagination {
                    position: relative;
                    margin-bottom: 30px;
                }
                .swiper-pagination-bullet {
                    background: #212121;
                }
                &__img {
                    margin-bottom: 20px;
                }
            }
            
        }

       
        
        &__slider-buttons  {
            display: none;
        }

        &__info {
            display: none;
        }

        &__item {
            border: 1px solid #000000;
            border-radius: 30px;
            margin-bottom: 20px;
            padding: 10px;
        }

        &__prev {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px;
            svg {
                width: 25px;
                height: 25px;
                transition: .1s;
            }
            &--open {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__title-foto {
            font-family: 'Amatic SC';
            font-weight: 700;
            font-size: px-to-em(25);
            line-height: 125%;
            color: #4B2B45;
        }
    }

    @media screen and (max-width: 570px) {
        .foto,
        .foto1,
        .foto2,
        .foto3,
        .foto4,
        .foto5 {
            .swiper-pagination-bullet {
                width: 22px;
                height: 9px;
                opacity: 0.5;
                border-radius: 3px;
            }
    
            .swiper-pagination-bullet-active {
                opacity: 1;
            }

        }

        &__prev {
            svg {
                width: 20px;
                height: 20px;
            }

        }

        &__title-foto {
           font-size: px-to-em(20);
        }

        &__pull {
            width: 100%;
        }
    }

    @media screen and (max-width: 360px) {
        &__item {
            padding: 5px;
        }
    }

    
}
