.services {
    padding-left: 10px;
    &__content {
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 0 25px;
        border-left: 2px dashed #2E1E25;
    }

    &__elements {
        margin: 100px 50px 0 80px;
    }

    
    &__element {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
       
    }

    &__name,
    &__price {
        flex-shrink: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: px-to-em(22);
        line-height: 118%;
        color: #2E1E25;
    }

    &__price {
        font-weight: 700;
        display: flex;
        gap: 0 11px;
    }

    &__price::after {
        content: url(../img/price.svg);
    }

    &__line {
        width: 100%;
        border-bottom: 3px dotted #000;
        margin: 0 20px 0 5px;
    }

    &__element:first-child {
        position: relative;
        
    }

    &__element:first-child::before {
        content: url(../img/discount.png);
        position: absolute;
        left: -100px;
        padding-left: 10px;
    }
}
