.form {
    background-image: url(../img/bg-pink.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: 170px 0 220px 10px;
    &__content {
        max-width: 1220px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 0 25px;
        border-left: 2px dashed #2E1E25;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Amatic SC';
        font-weight: 700;
        font-size: px-to-em(50);
        line-height: 126%;
        color: #2E1E25;
        margin-bottom: 45px;
    }

    &__name,
    &__phone {
        width: 590px;
        height: 35px;
        max-width: 100%;
        border: 1px solid rgba(46, 30, 37, 1);
        border-radius: 30px;
        font-family: 'Lato';
        font-weight: 500;
        font-size: px-to-em(16);
        line-height: 121%;
        color: #2E1E25;
        opacity: 0.5;
        padding: 10px 22px;
    }

    &__name {
        margin-bottom: 32px;
    }

    &__phone {
        margin-bottom: 45px;
    }

    &__btn {
        width: 163px;
        height: 35px;
        background-color: #E9B8D7;
        font-family: 'Amatic SC';
        font-style: normal;
        font-weight: 700;
        font-size: px-to-em(24);
        line-height: 125%;
        border-radius: 30px;
        color: #2E1E25;
        margin-bottom: 73px;
    }

    &__plus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 100px;
        text-align: center;
        gap: 0 80px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px 0;
    }

    &__text {
        width: 90%;
        font-family: 'Lato', sans-serif;
        font-size: px-to-em(16);
        line-height: 118%;
        text-align: center;
        color: #2E1E25;
        min-height: 80px;
    }

    @media screen and (max-width: 1000px) {
        padding: 150px 0 220px 10px;
        &__title {
           font-size: px-to-em(40);
        }

        &__plus {
            gap: 0 50px;
            margin-left: 70px;
        }
    }

    @media screen and (max-width: 768px) {
        padding-top: 120px;
        &__title {
            font-size: px-to-em(32);
        }

        &__name,
        &__phone {
            font-size: px-to-em(12);
            
        }

        &__name {
            margin-bottom: 20px;
        }
    
        &__phone {
            margin-bottom: 35px;
        }
    

        &__item {
            svg {
                width: 50px;
                height: 50px;
            }
        }

        &__text {
            font-size: px-to-em(13);
        }

        &__plus {
            gap: 0 40px;
            margin-left: 60px;
        }

        &__btn {
            width: 120px;
            height: 25px;
            font-size: px-to-em(18);
            margin-bottom: 53px;
        }
    }

    @media screen and (max-width: 645px) {
        &__plus {
            margin-left: 40px;
        }
    }

    @media screen and (max-width: 535px) {
        &__plus {
            margin-left: 30px;
            gap: 0 30px;
        }

        &__text {
            font-size: px-to-em(10);
        }

        &__item {
            svg {
                width: 37px;
                height: 37px;
            }
        }
    }

    @media screen and (max-width: 425px) {
        &__plus {
            margin-left: 20px;
            gap: 0 20px;
        }

        &__text {
            font-size: px-to-em(8.5);
        }
    }

    @media screen and (max-width: 360px) {
        &__plus {
            margin-left: 10px;
            gap: 0 10px;
        }
    }


  
}
